<!--Error dialogue-->
<amexio-window [show-window]="errorFlag"
               [header]="true"
			   [footer]="true"
			   [closable]="false"
               >
	<amexio-header>
        <i class="fa fa-exclamation-triangle"></i> Ошибка
      </amexio-header>
	   <amexio-body>
        <amexio-row>
          <amexio-column [size]="11">
		  <span style="color:red">{{errorMessage}}</span>
		  </amexio-column>
        </amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="11"> 
     <amexio-button  [label]="'Ok'" (onClick)="errorFlag=false" [type]="'red'" [tooltip]="'Ok'" [icon]="'fa fa-exclamation-triangle'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window>
<!-- edit row pane -->	 
 <amexio-window [closable]="false" [vertical-position]="'top'"  [horizontal-position]="'right'" [body-height]="90" [show-window]="opened" [header]="true" [footer]="true" > 
	  <amexio-header> 
        {{formMsg}} Курс::Описание курса 
<amexio-box *ngIf="valid==false" border-color ="red" border="all" padding="true" background-color="yellow">
	<amexio-label font-color="red"  border="bottom">Ошибка заполнения формы</amexio-label>
</amexio-box>
      </amexio-header> 
     <amexio-body> 
     <amexio-row><amexio-column size="12" >
                    <amexio-text-input [field-label]= "'Название'" name ="name"  
                    [place-holder] = "'Название'" 
                    [icon-feedback] = "true" [(ngModel)]="currentXCourseDesc.name" >
                    </amexio-text-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Уровень сложности'"
	 name ="theLevel"
	 [field-label]= "'Уровень сложности'"
            [allow-blank]="false" [error-msg] ="'Не задано: Уровень сложности'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboXLevel"
	 
	 [(ngModel)]="currentXCourseDesc.theLevel"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Владелец'"
	 name ="theVendor"
	 [field-label]= "'Владелец'"
            [allow-blank]="false" [error-msg] ="'Не задано: Владелец'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboXVendor"
	 
	 [(ngModel)]="currentXCourseDesc.theVendor"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-textarea-input [enable-popover]="false"  [field-label]="'Описание'" name ="CourseDescription" 
             [place-holder]="'Описание'" 
            [allow-blank]="false" [error-msg] ="'Не задано: Описание'" 
	            [(ngModel)]="currentXCourseDesc.CourseDescription"
             [icon-feedback]="true" [rows]="'5'" [columns]="'12'" 
              > 
</amexio-textarea-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-textarea-input [enable-popover]="false"  [field-label]="'Регламент'" name ="StudentGuide" 
             [place-holder]="'Регламент'" 
            [allow-blank]="true" 
	            [(ngModel)]="currentXCourseDesc.StudentGuide"
             [icon-feedback]="true" [rows]="'5'" [columns]="'12'" 
              > 
</amexio-textarea-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
<amexio-dropdown 
	 [field-label]="'Активный курс'" name ="IsActive" 
                    [place-holder]="'Активный курс'" 
	 [(ngModel)]="currentXCourseDesc.IsActive"
            [allow-blank]="false" [error-msg] ="'Не задано: Активный курс'" 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.enumYesNoCombo()"
	 >
</amexio-dropdown>
     </amexio-column></amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="opened = false;  refreshXCourseDesc();" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Сохранить'" (onClick)="save(currentXCourseDesc)" [type]="'success'" [tooltip]="'Сохранить'" [icon]="'fa fa-save'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
   
<!-- list Of row pane --> 
<amexio-card [show]="true" [header] ="true" [footer] ="false" > 
    <amexio-header> 
	<amexio-row> 
		<amexio-column size="12" > 
		<amexio-button [label]="'Создать'" [type]="'secondary'" [tooltip]="'Создать новую запись'" [icon]="'fa fa-plus'" (onClick)="onNew()"></amexio-button>
		<amexio-button [disabled]="currentXCourseDesc.XCourseDescId==null" [label]="'Изменить'" (onClick)="onEdit(currentXCourseDesc)" [type]="'secondary'" [tooltip]="'Изменить запись'" [icon]="'fa fa-edit'"></amexio-button>
     <amexio-button [disabled]="currentXCourseDesc.XCourseDescId==null" [label]="'Удалить'" (onClick)="onDelete(currentXCourseDesc)" [type]="'secondary'" [tooltip]="'Удалить запись'" [icon]="'fa fa-trash'"></amexio-button>
     <amexio-button  [label]="'Обновить'" (onClick)="refreshXCourseDesc()" [type]="'secondary'" [tooltip]="'Обновить данные'" [icon]="'fa fa-refresh'"></amexio-button>
		</amexio-column>
	</amexio-row> 
	</amexio-header> 
	<amexio-body> 
		<amexio-datagrid 
		  [title]="'Курс::Описание курса'" 
		  [page-size] = "10" 
		  [enable-data-filter]="false" 
		  [enable-checkbox]="false" 
		  [data]="XCourseDescArray" 
		  (selectedRowData)="onSelect($event)" 
		  (rowSelect)="onSelect($event)"> 
		  <amexio-data-table-column [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Название'"> 
 		  <ng-template #amexioBodyTmpl let-column let-row="row">
             {{  ((row.name) ? ((row.name.length>100) ? row.name.substr(0,100)+'...' : row.name ) : '-') | removehtmltag }} 
           </ng-template>
		  </amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'theLevel_name'" [data-type]="'string'" [hidden]="false" [text]="'Уровень сложности'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'theVendor_name'" [data-type]="'string'" [hidden]="false" [text]="'Владелец'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'CourseDescription'" [data-type]="'string'" [hidden]="false" [text]="'Описание'"> 
 		  <ng-template #amexioBodyTmpl let-column let-row="row">
             {{  ((row.CourseDescription) ? ((row.CourseDescription.length>100) ? row.CourseDescription.substr(0,100)+'...' : row.CourseDescription ) : '-') | removehtmltag }} 
           </ng-template>
		  </amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'StudentGuide'" [data-type]="'string'" [hidden]="false" [text]="'Регламент'"> 
 		  <ng-template #amexioBodyTmpl let-column let-row="row">
             {{  ((row.StudentGuide) ? ((row.StudentGuide.length>100) ? row.StudentGuide.substr(0,100)+'...' : row.StudentGuide ) : '-') | removehtmltag }} 
           </ng-template>
		  </amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'IsActive_name'" [data-type]="'string'" [hidden]="false" [text]="'Активный курс'"></amexio-data-table-column> 
		</amexio-datagrid> 
	</amexio-body> 
</amexio-card> 
 
<!-- confirm delete  dialog -->  
<amexio-window  [(show-window)]="confirmOpened" [closable]="false" [header]="true" [footer]="true" >  
     
    <amexio-header>
Удалить строку:  Курс::Описание курса ?
    </amexio-header> 
    <amexio-body> 
            Удалить запись: {{ ( (currentXCourseDesc.name +'; '+  currentXCourseDesc.CourseDescription||'').length >100 ? (currentXCourseDesc.name +'; '+  currentXCourseDesc.CourseDescription||'').substr(0,100)+'...' : (currentXCourseDesc.name +'; '+  currentXCourseDesc.CourseDescription||'')) | removehtmltag }}?  
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="confirmOpened = false" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Удалить'" (onClick)="onConfirmDeletion()" [type]="'danger'" [tooltip]="'Удалить'" [icon]="'fa fa-trash'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
 
