<amexio-card [header] ="true" [footer] ="false">
  <amexio-header>
 <i class="fa " aria-hidden="True"></i> Справочник 
  </amexio-header>
  <amexio-body>
	<amexio-tab-view  [closable]="false">
		<amexio-tab  title="Уровень сложности"  [active]="true" >
			<app-XLevel></app-XLevel>
		</amexio-tab>
		
		<amexio-tab  title="Тематика"  >
			<app-XSubject></app-XSubject>
		</amexio-tab>
		
		<amexio-tab  title="Компания-производитель"  >
			<app-XVendor></app-XVendor>
		</amexio-tab>
		
		<amexio-tab  title="Статус инструктора"  >
			<app-XStatus></app-XStatus>
		</amexio-tab>
		
		<amexio-tab  title="Тип подписки"  >
			<app-XSubscriptionType></app-XSubscriptionType>
		</amexio-tab>
		
		<amexio-tab  title="Сертификаты"  >
			<app-XCert></app-XCert>
		</amexio-tab>
		
	</amexio-tab-view>
  </amexio-body>
</amexio-card>
