<amexio-card [header] ="true" [footer] ="false">
  <amexio-header>
 <i class="fa " aria-hidden="True"></i> Программы обучения 
  </amexio-header>
  <amexio-body>
	<amexio-tab-view  [closable]="false">
		<amexio-tab  title="Описание программы"  [active]="true" >
			<app-xeduprog_info></app-xeduprog_info>
		</amexio-tab>
		
		<amexio-tab  title="Курсы в программе"  >
			<app-eduprog_course></app-eduprog_course>
		</amexio-tab>
		
	</amexio-tab-view>
  </amexio-body>
</amexio-card>
