<amexio-row *ngIf="Role()=='SUPERADMIN' ">
 <amexio-column size="12">
    <amexio-nav [title]="' X SCHOOL '"
			[enable-side-nav-position]="false">

    <amexio-nav-item position-right
      [type]="'link'" 
      [title]="' Вход'"  
	  [icon]="'fa fa-sign-in fa-fw'"
      (onNavItemClick)="onClick('/jwtLogin')">
    </amexio-nav-item>
  </amexio-nav>
  </amexio-column>

</amexio-row>

<amexio-row *ngIf="Role()=='' ">
 <amexio-column size="12">
    <amexio-nav [title]="' X SCHOOL '" [enable-side-nav-position]="false">
	<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Справочники'" 
[icon]= "'fa fa-id-card-o fa-fw'" 
(onNavItemClick)="onClick('/XDict')" 
></amexio-nav-item>



<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Курс'" 
[icon]= "'fa fa-map-marker fa-fw'" 
(onNavItemClick)="onClick('/XCourse')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Программы обучения'" 
[icon]= "'fa fa-map-marker fa-fw'" 
(onNavItemClick)="onClick('/XEDUPROG')" 
></amexio-nav-item>


<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Инструктор'" 
[icon]= "'fa fa-address-book-o fa-fw'" 
(onNavItemClick)="onClick('/XInstructor')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Пользователь'" 
[icon]= "'fa fa-user fa-fw'" 
(onNavItemClick)="onClick('/XUser')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Расписание курсов'" 
[icon]= "'fa fa-bar-chart fa-fw'" 
(onNavItemClick)="onClick('/XSchedule')" 
></amexio-nav-item>
	
  </amexio-nav>
  </amexio-column>
  


</amexio-row>




