<amexio-card [header] ="true" [footer] ="false">
  <amexio-header>
 <i class="fa " aria-hidden="True"></i> Пользователь 
  </amexio-header>
  <amexio-body>
	<amexio-tab-view  [closable]="false">
		<amexio-tab  title="Описание"  [active]="true" >
			<app-XUserInfo></app-XUserInfo>
		</amexio-tab>
		
		<amexio-tab  title="Подписки"  >
			<app-XSubscription></app-XSubscription>
		</amexio-tab>
		
		<amexio-tab  title="Покупки пользователя"  >
			<app-XUserPurchase></app-XUserPurchase>
		</amexio-tab>
		
		<amexio-tab  title="Результаты обучения"  >
			<app-XUserProfile></app-XUserProfile>
		</amexio-tab>
		
		<amexio-tab  title="Запись на  курс"  >
			<app-XUserRegistartion></app-XUserRegistartion>
		</amexio-tab>
		
		<amexio-tab  title="Корзина"  >
			<app-XUserCart></app-XUserCart>
		</amexio-tab>
		
	</amexio-tab-view>
  </amexio-body>
</amexio-card>
