<amexio-card [header] ="true" [footer] ="false">
  <amexio-header>
 <i class="fa " aria-hidden="True"></i> Пользователь 
  </amexio-header>
  <amexio-body>
	<amexio-tab-view  [closable]="false">
		<amexio-tab  title="Описание"  [active]="true" >
			<app-xUserInfo></app-xUserInfo>
		</amexio-tab>
		
		<amexio-tab  title="Подписки"  >
			<app-xSubscription></app-xSubscription>
		</amexio-tab>
		
		<amexio-tab  title="Покупки пользователя"  >
			<app-xUserPurchase></app-xUserPurchase>
		</amexio-tab>
		
		<amexio-tab  title="Результаты обучения"  >
			<app-xUserProfile></app-xUserProfile>
		</amexio-tab>
		
		<amexio-tab  title="Запись на  курс"  >
			<app-xUserRegistartion></app-xUserRegistartion>
		</amexio-tab>
		
		<amexio-tab  title="Корзина"  >
			<app-xUserCart></app-xUserCart>
		</amexio-tab>
		
	</amexio-tab-view>
  </amexio-body>
</amexio-card>
