 <amexio-card [show]="true" [header] ="true" [footer] ="false" > 
    <amexio-header> 
	<amexio-row> 
		<amexio-column size="12" > 
		О программе
		</amexio-column>
	</amexio-row> 
	</amexio-header> 
	<amexio-body> 
		<amexio-row> 
		<amexio-column size="12" > 
		<!-- <ngx-wig  [content]="aboutText" [buttons]="'bold,italic,link,list1,list2'"></ngx-wig> -->
		X SCHOOL first draft.
		<br/>
		<hr/>
		Тут может  быть ваша реклама 
		<br/>
		</amexio-column>
	</amexio-row> 
	</amexio-body> 
</amexio-card> 
	